<footer autosize>
    <!-- Copyright -->
    <div class="footer-main">

      <div class="div-33">
        <div class="footer-content">
          <img src='../../assets/img/logo/logo.png' [routerLink]="['/']" class="logo">
        </div>
      </div>


      <div class="div-33">
        <div class="footer-content">
          Links para o Site
          <mat-nav-list class="main-color">
            <a mat-list-item [routerLink]="['/']"><mat-icon>home</mat-icon> Inicio</a>
            <a mat-list-item [routerLink]="['/beneficios']"><mat-icon>card_giftcard</mat-icon> Beneficios</a>
            <a mat-list-item [routerLink]="['/cadastro_terceiro']"><mat-icon>group_add</mat-icon> Indicar Terceiro</a>
            <a mat-list-item [routerLink]="['/login']"><mat-icon>person</mat-icon> Login</a>
          </mat-nav-list>
        </div>
     </div>

    </div>
  </footer>