<div class="body">
    <div class="pagina">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Efetuar Login</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form class="example-form">
                <table class="example-full-width" cellspacing="0">
                    <tr>
                    <td>
                        <mat-grid-list cols="9" rowHeight="75px">
                            <mat-grid-tile [rowspan]="1" class="login-icon">
                                <mat-icon>person</mat-icon>
                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="7">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="CPF ou EDV"  name="matricula" required>
                                </mat-form-field>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </td>
                    </tr>
                    <tr>
                    <td>
                        <mat-grid-list cols="9" rowHeight="100px">
                            <mat-grid-tile [rowspan]="1"  class="login-icon">
                                <mat-icon>insert_invitation</mat-icon>
                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="7">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Data Nascimento" type="date" name="nascimento" required>
                                </mat-form-field>
                            </mat-grid-tile>
                        </mat-grid-list>
                        
                    </td>
                </tr></table>
                </form>
            </mat-card-content>
            <mat-card-actions>
                <div class="login-spinner">
                    <button mat-raised-button class="example-full-width" (click)="login()" color="primary"><mat-icon>input</mat-icon> Confirmar</button> <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
                </div>
                    
            </mat-card-actions>
        </mat-card>
    </div>
</div>
