.body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
}
.pagina{
    padding-top: 10px;
    margin: 5px;
}

.tabela{
    min-width: 700px;
    width: 100%;
    margin-bottom: 50px;
}

@media only screen and (max-width: 700px) {
    .tabela{
        min-width: 400px;
        width: 100%;
        margin-bottom: 50px;
    }
  }

  @media only screen and (max-width: 400px) {
    .tabela{
        min-width: 300px;
        width: 100%;
        margin-bottom: 50px;
    }
  }